.feature-card img {
  width: 100%;
  object-fit: cover;
}

.card-hover {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card-hover:hover img {
  transform: scale(1.09);
  transition: transform .2s;
}

.mySwiper .swiper-wrapper {
    transition-timing-function: linear !important;
    margin: 0 auto !important;
}

/* Reusable Section Padding */
.section-padding {
  padding-top: 4rem;    /* 64px */
  padding-bottom: 4rem; /* 64px */
  padding-left: 1rem;   /* 16px */
  padding-right: 1rem;  /* 16px */
}

@media (min-width: 768px) {
  .section-padding {
    padding-top: 5rem;    /* 80px */
    padding-bottom: 5rem; /* 80px */
    padding-left: 2rem;   /* 32px */
    padding-right: 2rem;  /* 32px */
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding-top: 6rem;    /* 96px */
    padding-bottom: 6rem; /* 96px */
    padding-left: 2.5rem; /* 40px */
    padding-right: 2.5rem; /* 40px */
  }
}